################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UefaRankingApplication.Datas/bin/Debug/net6.0
/UefaRankingApplication/bin/Debug/net6.0
/UefaRankingApplication/obj/Debug/net6.0/ref
/UefaRankingApplication/obj/Debug/net6.0/staticwebassets
/UefaRankingApplication.Datas/obj/project.assets.json
/UefaRankingApplication.Datas/obj/project.nuget.cache
/UefaRankingApplication.Datas/obj/UefaRankingApplication.DataAccess.csproj.nuget.dgspec.json
/UefaRankingApplication.Datas/obj/UefaRankingApplication.DataAccess.csproj.nuget.g.props
/UefaRankingApplication.Datas/obj/UefaRankingApplication.DataAccess.csproj.nuget.g.targets
/UefaRankingApplication.Core/bin/Debug/net6.0
/UefaRankingApplication.Core/obj/Debug/net6.0
/UefaRankingApplication.Core/obj
/UefaRankingApplication/obj/project.assets.json
/UefaRankingApplication/obj/project.nuget.cache
/UefaRankingApplication/obj/UefaRankingApplication.UserInterface.csproj.nuget.dgspec.json
/UefaRankingApplication/obj/UefaRankingApplication.UserInterface.csproj.nuget.g.props
/UefaRankingApplication/obj/UefaRankingApplication.UserInterface.csproj.nuget.g.targets
.vs/UefaRankingApplication/v17/.suo
.vs/ProjectEvaluation/uefarankingapplication.metadata.v7.bin
*.bin
.vs/UefaRankingApplication/v17/.suo
*.bin
.vs/ProjectEvaluation/uefarankingapplication.metadata.v7.bin
.vs/ProjectEvaluation/uefarankingapplication.projects.v7.bin
.vs/UefaRankingApplication/FileContentIndex/e4d04853-b1b7-4cd5-b4d5-cbc76829452c.vsidx
.vs/UefaRankingApplication/v17/.futdcache.v2
.vs/UefaRankingApplication/FileContentIndex/f48d2abf-851d-4202-b13d-9e0917412ac6.vsidx
.vs/UefaRankingApplication/FileContentIndex/ba5100c2-d4a6-4099-b945-9ffacdd27f5f.vsidx
.vs/UefaRankingApplication/FileContentIndex/658efd60-270a-4d5d-9461-dd1938a9557a.vsidx
.vs/UefaRankingApplication/FileContentIndex/61bb1b63-80ac-42fb-8fd6-2a4dcb752bda.vsidx
.vs/UefaRankingApplication/FileContentIndex/543affe2-3bf0-4d1d-8fbc-2a648423d516.vsidx
.vs/UefaRankingApplication/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/uefarankingapplication.projects.v7.bin
.vs/ProjectEvaluation/uefarankingapplication.metadata.v7.bin
/UefaRankingApplication.Tests/bin/Debug/net6.0
/UefaRankingApplication.Tests/obj/Debug/net6.0
/UefaRankingApplication.UnitTests/obj/Debug/net6.0
/UefaRankingApplication.Datas/obj/Debug/net6.0/UefaRankingApplication.DataAccess.AssemblyInfoInputs.cache
/UefaRankingApplication.Datas/obj/Debug/net6.0/UefaRankingApplication.DataAccess.dll
/UefaRankingApplication.Datas/obj/Debug/net6.0/UefaRankingApplication.DataAccess.pdb
/UefaRankingApplication.Datas/obj/Debug/net6.0/UefaRankingApplication.DataAccess.sourcelink.json
/UefaRankingApplication.Tests/obj/project.assets.json
/UefaRankingApplication.Tests/obj/project.nuget.cache
/UefaRankingApplication.Tests/obj/UefaRankingApplication.Tests.csproj.nuget.dgspec.json
/UefaRankingApplication.Tests/obj/UefaRankingApplication.Tests.csproj.nuget.g.props
/UefaRankingApplication.Tests/obj/UefaRankingApplication.Tests.csproj.nuget.g.targets
/UefaRankingApplication.UnitTests/obj/project.assets.json
/UefaRankingApplication.UnitTests/obj/project.nuget.cache
/UefaRankingApplication.UnitTests/obj/UefaRankingApplication.UnitTests.csproj.nuget.dgspec.json
/UefaRankingApplication.UnitTests/obj/UefaRankingApplication.UnitTests.csproj.nuget.g.props
/UefaRankingApplication.UnitTests/obj/UefaRankingApplication.UnitTests.csproj.nuget.g.targets
/UefaRankingApplication.UnitTests/bin/Debug/net6.0
/UefaRankingApplication.UnitTests/GlobalUsings.cs
/UefaRankingApplication.Datas/obj/Debug/net6.0/ref/UefaRankingApplication.DataAccess.dll
/UefaRankingApplication.Datas/obj/Debug/net6.0/refint/UefaRankingApplication.DataAccess.dll
/.vs/UefaRankingApplication/v17/.futdcache.v2
/.vs/UefaRankingApplication/v17/.suo
/.vs/UefaRankingApplication/v17/TestStore/0/000.testlog
/.vs/UefaRankingApplication/v17/TestStore/0/testlog.manifest
/.vs/ProjectEvaluation/uefarankingapplication.metadata.v7.bin
/.vs/ProjectEvaluation/uefarankingapplication.projects.v7.bin
/.vs/UefaRankingApplication/DesignTimeBuild/.dtbcache.v2
/.vs/UefaRankingApplication/FileContentIndex/2ddbf76f-7471-4374-b86b-6bb523b7ed97.vsidx
/.vs/UefaRankingApplication/FileContentIndex/5c8c1fe3-1182-45c7-8af5-0f329098d2bf.vsidx
/.vs/UefaRankingApplication/FileContentIndex/61bb1b63-80ac-42fb-8fd6-2a4dcb752bda.vsidx
/.vs/UefaRankingApplication/FileContentIndex/6f8f85a1-f809-4a1b-a7e5-688c15fbe464.vsidx
/.vs/UefaRankingApplication/FileContentIndex/86f682e1-7fae-4084-bc4d-e866b2d5477b.vsidx
/.vs/UefaRankingApplication/FileContentIndex/ba5100c2-d4a6-4099-b945-9ffacdd27f5f.vsidx
/.vs/UefaRankingApplication/FileContentIndex/cb352644-50d6-4051-b9ee-7a7944d2ff7f.vsidx
/.vs/UefaRankingApplication/FileContentIndex/f48d2abf-851d-4202-b13d-9e0917412ac6.vsidx
/.vs/UefaRankingApplication/FileContentIndex/fb5959d1-a7fc-4183-baac-ac627fe05291.vsidx
