################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UefaRankingApplication.Datas/bin/Debug/net6.0
/UefaRankingApplication/bin/Debug/net6.0
/UefaRankingApplication/obj/Debug/net6.0/ref
/UefaRankingApplication/obj/Debug/net6.0/staticwebassets
/UefaRankingApplication.Datas/obj/project.assets.json
/UefaRankingApplication.Datas/obj/project.nuget.cache
/UefaRankingApplication.Datas/obj/UefaRankingApplication.DataAccess.csproj.nuget.dgspec.json
/UefaRankingApplication.Datas/obj/UefaRankingApplication.DataAccess.csproj.nuget.g.props
/UefaRankingApplication.Datas/obj/UefaRankingApplication.DataAccess.csproj.nuget.g.targets
/UefaRankingApplication.Core/bin/Debug/net6.0
/UefaRankingApplication.Core/obj/Debug/net6.0
/UefaRankingApplication.Core/obj
/UefaRankingApplication/obj/project.assets.json
/UefaRankingApplication/obj/project.nuget.cache
/UefaRankingApplication/obj/UefaRankingApplication.UserInterface.csproj.nuget.dgspec.json
/UefaRankingApplication/obj/UefaRankingApplication.UserInterface.csproj.nuget.g.props
/UefaRankingApplication/obj/UefaRankingApplication.UserInterface.csproj.nuget.g.targets
.vs/UefaRankingApplication/v17/.suo
.vs/ProjectEvaluation/uefarankingapplication.metadata.v7.bin
*.bin
.vs/UefaRankingApplication/v17/.suo
*.bin
.vs/ProjectEvaluation/uefarankingapplication.metadata.v7.bin
.vs/ProjectEvaluation/uefarankingapplication.projects.v7.bin
.vs/UefaRankingApplication/FileContentIndex/e4d04853-b1b7-4cd5-b4d5-cbc76829452c.vsidx
.vs/UefaRankingApplication/v17/.futdcache.v2
.vs/UefaRankingApplication/FileContentIndex/f48d2abf-851d-4202-b13d-9e0917412ac6.vsidx
.vs/UefaRankingApplication/FileContentIndex/ba5100c2-d4a6-4099-b945-9ffacdd27f5f.vsidx
.vs/UefaRankingApplication/FileContentIndex/658efd60-270a-4d5d-9461-dd1938a9557a.vsidx
.vs/UefaRankingApplication/FileContentIndex/61bb1b63-80ac-42fb-8fd6-2a4dcb752bda.vsidx
.vs/UefaRankingApplication/FileContentIndex/543affe2-3bf0-4d1d-8fbc-2a648423d516.vsidx
.vs/UefaRankingApplication/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/uefarankingapplication.projects.v7.bin
.vs/ProjectEvaluation/uefarankingapplication.metadata.v7.bin
